@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import 'tailwindcss';

@import "tw-animate-css";
@import "tailwindcss-animated";
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));



@theme {

    --color-neutral-950: rgba(0, 0, 0, 1);
    --color-neutral-0: rgba(255, 255, 255, 1);

    --color-slate-950: rgba(18, 23, 33, 1);
    --color-slate-900: rgba(25, 32, 45, 1);
    --color-slate-500: rgba(110, 128, 152, 1);
    --color-slate-300: rgba(157, 174, 194, 1);
    --color-slate-100: rgba(244, 246, 248, 1);

    --color-indigo-500: rgba(89, 104, 224, 1);
    --color-indigo-300: rgba(147, 155, 244, 1);


        /* Preset 1 – Bold */
    --text-preset-1-font-family: var(--font-sans);
    --text-preset-1-font-weight: 700;
    --text-preset-1-font-size: 28px;
    --text-preset-1-line-height: 120%;
    --text-preset-1-letter-spacing: 0;

    /* Preset 2 – Bold */
    --text-preset-2-font-family: var(--font-sans);
    --text-preset-2-font-weight: 700;
    --text-preset-2-font-size: 24px;
    --text-preset-2-line-height: 120%;
    --text-preset-2-letter-spacing: 0;

    /* Preset 3 – Bold */
    --text-preset-3-font-family: var(--font-sans);
    --text-preset-3-font-weight: 700;
    --text-preset-3-font-size: 20px;
    --text-preset-3-line-height: 120%;
    --text-preset-3-letter-spacing: 0;

    /* Preset 4 – SemiBold */
    --text-preset-4-font-family: var(--font-sans);
    --text-preset-4-font-weight: 600;
    --text-preset-4-font-size: 18px;
    --text-preset-4-line-height: 120%;
    --text-preset-4-letter-spacing: 0;

    /* Preset 5 – Regular */
    --text-preset-5-font-family: var(--font-sans);
    --text-preset-5-font-weight: 400;
    --text-preset-5-font-size: 16px;
    --text-preset-5-line-height: 162.5%;
    --text-preset-5-letter-spacing: 0;

    /* Preset 6 – Bold */
    --text-preset-6-font-family: var(--font-sans);
    --text-preset-6-font-weight: 700;
    --text-preset-6-font-size: 14px;
    --text-preset-6-line-height: 120%;
    --text-preset-6-letter-spacing: 0;

    /* Preset 7 – Regular */
    --text-preset-7-font-family: var(--font-sans);
    --text-preset-7-font-weight: 400;
    --text-preset-7-font-size: 14px;
    --text-preset-7-line-height: 120%;
    --text-preset-7-letter-spacing: 0;

     /* Spacing scale */
    --spacing-0: 0px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-125: 10px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-375: 30px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-550: 44px;
    --spacing-600: 48px;
    --spacing-700: 56px;

    --radius-0: 0px;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-40: 40px;
    --radius-100: 100px;

    --font-sans:
        "Kumbh Sans", ui-sans-serif, system-ui, sans-serif;

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-slate-950;
        @apply dark:bg-slate-100 dark:text-neutral-0;

    }
}
body{
    min-height: 100vh;
}
header {
    background-image: url('/images/mobile/bg-pattern-header.svg');
    background-size: cover;
    background-position: center;
}

